@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

body {
  font-family: 'Kavivanar', cursive;
  background-color: #F3EDE2;
  background-attachment: scroll;
  background-position: right top;
}
.p {
  font-family: 'Kavivanar', cursive;
  color: #B8A27A;

  margin-left: 10%;
}

.color-box {
  background-color:green;
  position: relative;
  width:80%;
  height:650px;

  margin-top: 9%;
  margin-left: 10%;
}

.center {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  color: #F3EDE2;
}


/*---------------footer--------------------*/
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #F3EDE2;
       color: #B8A27A;
       text-align: center;
    }
