:root { font-size: 16px }
@media (max-width: 500px) { :root { font-size: 14px } }
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Libre+Barcode+39+Text&family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background: #87cd33;
  color: white;
}

::selection {
  background: #87cd33;
  color: white;
}

body {
  overflow: hidden;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

h1{
  color: orange;
  font-weight: 400;
  font-size: 10vw;
  font-family: 'Libre Barcode 39 Text', cursive;
}
h2 { font-size: 2rem }

img {
  width: 100%;
  height: auto;
  background: #f0f0f0;
}

ul {
  padding-left: 1rem;
  list-style: none;
}

li {
  flex-shrink: 0;
  width: clamp(500px, 60vw, 800px);
  padding-right: 1rem;
}

header {height: 100vh}


footer {
  width: 100%;
  height: 120px;
  background-color: orange;
  text-align: center;
}

footer p {
  text-align: center;
  color: black;
  font-weight: 200;
  font-size: 13px;
  line-height: 1;
  padding-top: 20px;
  letter-spacing: 0.5px;
  font-family: 'Poppins', sans-serif
}

footer a:link {
  color: white;
  text-decoration: none;
    text-align: center;
}

footer a:hover {
  text-decoration: none;
  color: #0080ff;
}


:-webkit-any-link { color: #4e9815; }

:-moz-any-link { color: #4e9815; }

:any-link { color: #4e9815; }

.df {display: flex}
.aic {align-items: center}
.jcc {justify-content: center}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
}

.demo-wrapper {
  overflow-x: hidden;
}

.wrapper {
  display: flex/2;
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-text .text {
  font-size: clamp(4rem, 7.5vw, 8rem);
  line-height: 1;
  font-weight: 900;
}
