
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');


body {
  font-family: 'Kavivanar', cursive;
  background-color: #F3EDE2;
  background-attachment: scroll;
  background-position: right top;
}
button{
  font-family: 'Kavivanar', cursive;
  margin-right: 30px;

}
select{
  font-family: 'Kavivanar', cursive;
  margin-right: 30px;
}

.color-box {
  float:center;
  background-color:#B8A27A;
  width:80%;
  height:650px;

  margin-top: 9%;
  margin-left: 10%;
}
#canvas {
     position: absolute;
     width: 100%;
     height: 80%;
     background-color:#B8A27A;
 }


 a {
   color: black;
   text-decoration: none;
 }
 p{
   font-family: 'Kavivanar', cursive;
   display: inline-block;
 }
 .p {
  font-family: 'Kavivanar', cursive;
  color: #B8A27A;

  margin-left: -70%;
}
.p:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

 /*---------------footer--------------------*/
     .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #F3EDE2;
        color: #B8A27A;
        text-align: center;
     }
