@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

body {
  font-family: 'Kavivanar', cursive;
  background-color: #F3EDE2;
  background-attachment: scroll;
  background-position: right top;
}
.p {
  font-family: 'Kavivanar', cursive;
  color: #B8A27A;

  margin-left: 10%;
}
img {
  width: 30%;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.countdown{
  color:#595959;
  font-size:1.5vw;
  text-align:right;

  margin-right: 3vw;
}

.color-box {
  background-color:#B8A27A;
  position: relative;
  width:80%;
  height:650px;

  margin-top: 9%;
  margin-left: 10%;
}

.center {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  color: #F3EDE2;
}
.prompt {
  margin: 0;
  position: absolute;
  color:#F3EDE2;
  font-size: 2.5vw;
  font-weight: normal;

  margin-top: 3vw;
  margin-left: 7vw;
}
.comment {
  float: left;
  width: 50%;
  height: auto;

  resize: none;
  color:black;
}

.buttonP {
  position: center;
  display: block;
  width: 10vw;
  height: 4vw;

  font-family: 'Kavivanar', cursive;
  border-radius: 20px;
  background-color: #F3EDE2;
  border: none;
  text-align: center;
  color: #B8A27A;
  font-size: 1.5vw;

  cursor: pointer;
}
.buttonP:hover {
background: #B8A27A;
color: #F3EDE2;
border: 2px solid #F3EDE2;
}

.skip{
  margin-top: 3vw;
  margin-left: 30vw;
  font-size: .7vw;

  cursor: pointer;
}
.skip:hover{
  color: #595959;
}

/*---------------footer--------------------*/
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #F3EDE2;
       color: #B8A27A;
       text-align: center;
    }
