body {
  font-family: Arial, Helvetica, sans-serif;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

button {
  position: relative;
  display: block;
  width: 400px;
  height: 40px;
  margin: 40px auto 10px;
}

p {
  text-align: center;
}

.yahtzee-board {
  position: relative;
  width: 710px;
  height: 250px;
  margin: 0 auto;
}



.cube .front  { transform: translateZ(50px); }
.cube .back   { transform: rotateX(-180deg) translateZ(50px); }
.cube .right  { transform: rotateY(90deg) translateZ(50px); }
.cube .left   { transform: rotateY(-90deg) translateZ(50px); }
.cube .top    { transform: rotateX(90deg) translateZ(50px); }
.cube .bottom { transform: rotateX(-90deg) translateZ(50px); }

.container {
  float: left;
  margin: 20px;

  width: 100px;
  height: 100px;
  position: relative;


  perspective: 1000px;
  perspective-origin: 50% 100%;
}

.cube {
  width: 100%;
  height: 100%;
  top: 50%;
  position: absolute;

  transform-style: preserve-3d;
  /*transform: rotateX(270deg) rotateY(1710deg);*/

  transition: transform 2s;
}

.cube:hover {
  cursor: pointer;
}

.cube div {
  background: hsla(0, 85%, 50%, 0.85);
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  border: 1% solid #ab1a1a;

  margin: 0 auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  text-align: center;
  padding: 25% 0;
}

.cube.held div {
  background: hsla(240, 85%, 50%, 0.75);
  border: 1% solid #1a1aab;
}

.dot {
  display: block;
  position: absolute;
  width: 15%;
  height: 15%;
  background: black
    ;
  border-radius: 50%;
  box-shadow: inset 2px 2px 4px rgba(0,0,0, 0.2);
}

.front .dot1 { top: 42.5%; left: 42.5%; }
.back .dot1 { top: 22.5%; left: 22.5%; }
.back .dot2 { top: 62.5%; left: 62.5%; }
.right .dot1 { top: 22.5%; left: 22.5%; }
.right .dot2 { top: 42.5%; left: 42.5%; }
.right .dot3 { top: 62.5%; left: 62.5%; }
.left .dot1 { top: 22.5%; left: 22.5%; }
.left .dot2 { top: 22.5%; left: 62.5%; }
.left .dot3 { top: 62.5%; left: 22.5%; }
.left .dot4 { top: 62.5%; left: 62.5%; }
.top .dot1 { top: 22.5%; left: 22.5%; }
.top .dot2 { top: 22.5%; left: 62.5%; }
.top .dot3 { top: 42.5%; left: 42.5%; }
.top .dot4 { top: 62.5%; left: 22.5%; }
.top .dot5 { top: 62.5%; left: 62.5%; }
.bottom .dot1 { top: 22.5%; left: 22.5%; }
.bottom .dot2 { top: 22.5%; left: 42.5%; }
.bottom .dot3 { top: 22.5%; left: 62.5%; }
.bottom .dot4 { top: 62.5%; left: 22.5%; }
.bottom .dot5 { top: 62.5%; left: 42.5%; }
.bottom .dot6 { top: 62.5%; left: 62.5%; }


input.MyCheckbox {
width: 100px;
height: 100px;
transform: translate(-4%, -28%);
cursor: pointer;
font-size: 10%;
background: #3366cc;
color: #fff;
}

input.MyButton {
width: 100px;
height: 100px;
transform: translate(0%, -25%);
cursor: pointer;
font-size: 10%;
background: red;
}
input.MyButton:hover {
background: blue;
}
